@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300&family=Rubik&family=Young+Serif&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  display: none;
}
/* ::-webkit-scrollbar-track {
  background: #29a173;
}
::-webkit-scrollbar-thumb {
  background: #f1b24a;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffc363;
} */

.monsterat {
  font-family: "Montserrat", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.rubik {
  font-family: "Rubik", sans-serif;
}
.young {
  font-family: "Young Serif", serif;
}
.container {
  display: flex;
  width: 50vw;
  height: 50%;
  margin: auto;
}
.glass {
  background: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}
